// $color1: rgba(142, 164, 210, 1);
// $color2: rgba(98, 121, 184, 1);
// $color3: rgba(73, 81, 111, 1);
// $color4: rgba(73, 111, 93, 1);
// $color5: rgba(76, 159, 112, 1);
// $color1: rgba(202, 207, 133, 1);
// $color2: rgba(152, 147, 218, 1);
// $color3: rgba(114, 109, 168, 1);
// $color4: rgba(140, 186, 128, 1);
// $color5: rgba(101, 142, 156, 1);
$color1-lighter: lighten(#eaeaea, 15%);
$color1: #eaeaea;
$color1-darker: darken(#eaeaea, 20%);
$color1-darkest: darken(#eaeaea, 40%);
$color2-lighter: lighten(#ff5964, 15%);
$color2: #ff5964;
$color2-darker: darken(#ff5964, 20%);
$color2-darkest: darken(#ff5964, 40%);
$color3-lighter: lighten(#253031, 15%);
$color3: #253031;
$color3-darker: darken(#253031, 20%);
$color3-darkest: darken(#253031, 40%);
$color4-lighter: lighten(#6bf178, 15%);
$color4: #6bf178;
$color4-darker: darken(#6bf178, 20%);
$color4-darkest: darken(#6bf178, 40%);
$color5-lighter: lighten(#35A7FF, 15%);
$color5: #35A7FF;
$color5-darker: darken(#35A7FF, 20%);
$color5-darkest: darken(#35A7FF, 40%);
$color6-lighter: lighten(#FE6847, 15%);
$color6: #FE6847;
$color6-darker: darken(#FE6847, 20%);
$color6-darkest: darken(#FE6847, 40%);